{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container h-100">
  <div class="row h-100">
      <div class="text-center col-12 my-auto text-bg">
        <h1 class="display-4 text-pink logo-font">
          {% trans "Sign Out" %}
            
        </h1>
        <p class="about text-pink">
          {% trans 'Are you sure you want to sign out?' %}
        </p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button type="submit" class="shop-now-button btn btn-md py-3 mb-4">{% trans 'Sign Out' %}</button>
        </form>
      </div>
  </div>
</div>



{% endblock %}
