{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="text-center col-12 my-auto text-bg">
            <h1 class="display-4 text-pink logo-font">
                {% trans "Change Password" %}
            </h1>
            <p class="text-pink">{% trans 'Your password is now changed.' %}</p>
            <p class="text-pink">You can now login via 'My Account'</p>
        </div>
    </div>
</div>

{% endblock %}


