{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 mt-5">
        <div class="text-center col-12 my-auto text-bg">
            <h1 class="display-4 text-pink logo-font">
                {% trans "Set Password" %}
            </h1>
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
            </form>
        </div>
    </div>
</div>

{% endblock %}
