<hr class="hide-on-large">
<tr>
    <td colspan="4"></td>
    <td class="text-right font-weight-bold">Bag Total:</td>
    <td class="font-weight-bold">£{{ total|floatformat:2 }}</td>
</tr>
<hr class="hide-on-large">
<tr>
    <td colspan="4"></td>
    <td class="text-right">Delivery:</td>
    <td>£{{ delivery|floatformat:2 }}</td>
</tr>
<hr class="hide-on-large">
<tr>
    <td colspan="4"></td>
    <td class="text-right"><strong>Grand Total:</strong></td>
    <td class="font-weight-bold">£{{ grand_total|floatformat:2 }}</td>
</tr>
<hr class="hide-on-large">