{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container mb-3">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-pink mb-4 text-center">Shopping Bag</h2>
            <hr>
            <a href="{% url 'products' %}" class="btn pd-btn border-pink rounded-1 btn-sm mb-3">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        </div>
    </div>

    <!-- Main Content Row -->
    <div class="row">
        <div class="col-12">
            {% if bag_items %}
                <div class="d-block d-md-none">
                    <div class="row">
                        <div class="col">
                            {% include "bag/bag-total.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-2">
                            {% include "bag/checkout-buttons.html" %}
                            <p class="text-pink mb-4">A summary of your shopping bag is below</p>
                        </div>
                    </div>
                    {% for item in bag_items %}
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                {% include "bag/product-image.html" %}
                            </div>
                            <div class="col-12 col-sm-6 mb-2">
                                {% include "bag/product-info.html" %}
                            </div>
                            <div class="col-12 col-sm-6 order-sm-last">
                                <p class="my-0">Price Each: £{{ item.product.price }}</p>
                                <p><strong>Subtotal: </strong>£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </div>
                            <div class="col-12 col-sm-6">
                                {% include "bag/quantity-form.html" %}
                            </div>
                        </div>
                        <div class="row"><div class="col"><hr></div></div>
                    {% endfor %}
                    <div class="btt-button shadow-sm border border-pink" style="display: none; position: fixed; bottom: 6px; right: 6px; z-index: 1000;">
                        <a class="rounded-1 btt-link d-flex h-100">
                            <i class="fa-solid fa-arrow-up-from-bracket mx-auto my-auto"></i>
                        </a>	
                    </div>
                </div>
                <div class="table-responsive rounded d-none d-md-block bg-light p-3">
                    <table class="table table-sm">
                        <thead class="text-secondary">
                            <tr class="text-pink">
                                <th scope="col"></th>
                                <th scope="col">Product Info</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th></th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in bag_items %}
                                <tr>
                                    <td class="align-middle w-25">
                                        {% include "bag/product-image.html" %}
                                    </td>
                                    <td class="align-middle">
                                        {% include "bag/product-info.html" %}
                                    </td>
                                    <td class="align-middle">£{{ item.product.price }}</td>
                                    <td class="align-middle" style="width: 15%;">
                                        {% include "bag/quantity-form.html" %}
                                    </td>
                                    <td></td>
                                    <td class="align-middle">£{{ item.product.price | calc_subtotal:item.quantity }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <!-- Totals and checkout actions -->
                        <tfoot>
                            {% include "bag/bag-total.html" %}
                            <tr>
                                {% include "bag/checkout-buttons.html" %}
                            </tr>
                        </tfoot>
                    </table>
                </div>
            {% else %}
                <!-- Empty bag message -->
                <div class="text-center py-5">
                    <p class="lead text-pink">Your shopping bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-pink btn-md">
                        <i class="fas fa-chevron-left text-white mr-2"></i> Keep Shopping
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })

    // Scroll to top when .btt-link is clicked
    $(document).on('click', '.btt-link', function(e) {
            e.preventDefault();
            $('html, body').animate({scrollTop: 0}, 'fast');
        });

    // Show or hide the scroll-to-top button when scrolling
    $(document).ready(function() {
        var $scrollButton = $('.btt-button');

        $(window).on('scroll', function() {
            if ($(this).scrollTop() > 200) {
                $scrollButton.fadeIn();
            } else {
                $scrollButton.fadeOut();
            }
        });

        $('#sort-selector').on('change', function() {
            var selectedVal = $(this).val();
            var currentUrl = new URL(window.location.href);

            if (selectedVal && selectedVal !== "reset") {
                var [sort, direction] = selectedVal.split("_");

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");
            }

            window.location.href = currentUrl.href;
        });
    });
</script>

{% endblock %}