{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container mb-3">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-pink mb-4 text-center">Shopping Bag</h2>
            <hr>
            <a href="{% url 'products' %}" class="btn pd-btn border-pink rounded-1 btn-sm mb-3">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        </div>
    </div>

    <!-- Main Content Row -->
    <div class="row">
        <div class="col-12">
            {% if bag_items %}
                <div class="table-responsive rounded bg-light p-3">
                    <table class="table table-sm">
                        <thead class="text-secondary">
                            <tr class="text-pink">
                                <th scope="col"></th>
                                <th scope="col">Product Info</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th></th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in bag_items %}
                                <tr>
                                    <td class="align-middle w-25">
                                        <img class="img-fluid rounded w-50" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    </td>
                                    <td class="align-middle">
                                        <p class="mb-1 font-weight-bold text-pink">{{ item.product.name }}</p>
                                        <p class="mb-0 text-muted small">SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td class="align-middle">£{{ item.product.price }}</td>
                                    <!-- Adjust the width of the Quantity column -->
                                    <td class="align-middle" style="width: 15%;">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id%}">
                                            {% csrf_token %}
                                            <div class="form-group mb-0">
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-pink rounded-1 decrement-qty_{{item.item_id}}"
                                                        data-item_id="{{ item.item_id }}" >
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input id_qty_{{ item.item_id }}" type="number" 
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99" 
                                                        data-item_id="{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-pink rounded-1 increment-qty_{{item.item_id}}"
                                                        data-item_id="{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-pink"><small>Update</small></a>
                                        <a class="remove-item text-pink float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                    </td>
                                    <td></td>
                                    <td class="align-middle">£{{ item.product.price | calc_subtotal:item.quantity }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <!-- Totals and checkout actions -->
                        <tfoot>
                            <tr>
                                <td colspan="4"></td>
                                <td class="text-right font-weight-bold">Bag Total:</td>
                                <td class="font-weight-bold">£{{ total|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td colspan="4"></td>
                                <td class="text-right">Delivery:</td>
                                <td>£{{ delivery|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td colspan="4"></td>
                                <td class="text-right font-weight-bold">Grand Total:</td>
                                <td class="font-weight-bold">£{{ grand_total|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td colspan="6" class="text-right pt-4">
                                    <a href="{% url 'products' %}" class="btn btn-outline-pink pd-btn border-pink btn-lg mr-2 mb-2">
                                        <i class="fas fa-chevron-left"></i> Keep Shopping
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-pink btn-lg mb-2">
                                        Secure Checkout <i class="fas fa-lock ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            {% else %}
                <!-- Empty bag message -->
                <div class="text-center py-5">
                    <p class="lead text-pink">Your shopping bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-pink btn-md">
                        <i class="fas fa-chevron-left text-white mr-2"></i> Keep Shopping
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}