{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="text-center col-12 my-auto text-bg">
                <h1 class="display-4 text-pink logo-font">
                    <p>DH Bakes!</p> 
                    <p>A family run online bakery</p>
                </h1>
                <div class="my-6">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg py-3">View our Bakes</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}