{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="text-center col-12 my-auto text-bg">
                <h1 class="display-4 text-pink logo-font">
                    DH Bakes!
                    
                </h1>
                <p class="about text-pink">
                    At DH Bakes, a family-run bakery, we pour love and tradition into every delicious creation. 
                        Specializing in handcrafted cakes, cookies, and cupcakes, our bakery is where family recipes meet fresh, high-quality ingredients. 
                        Whether you're celebrating a special occasion or simply indulging your sweet tooth, our baked goods are made to bring joy to your table.
                        From custom cakes that capture the spirit of your event to classic cookies and cupcakes that satisfy every craving, DH Bakes is dedicated to making every bite a moment to cherish.
                </p>

                <div class="my-6">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg py-3">View our Bakes</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}