{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col mt-3">
                <hr class="mt-0">
                <h2 class="text-pink mb-4 text-center">FAQ's</h2>
                <hr>
            </div>
        </div>

        <div class="mt-1 row">        
            <!-- FAQ Section-->
            <div class="col-12 col-lg-6 text-pink">
                {% for category in categories %}
                <div class="faq-category">
                    <h2>{{ category.name }}</h2>
                    {% if category.description %}
                        <p>{{ category.description }}</p>
                    {% endif %}
                    <ul>
                        {% for faq in category.faq_set.all %}
                            {% if faq.is_active %}
                                <li>
                                    <h3>{{ faq.question }}</h3>
                                    <p>{{ faq.answer }}</p>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}    
            </div>
        </div>
    </div>
{% endblock %}
