html {
    height: 100%;
}

body {
    background: url('/media/bg-image.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #ffffff;
    font-family: "Roboto Condensed", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


.main-logo-link {
    width: fit-content;
}

.logo-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.text-bg {
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.8);
}

.text-large {
    font-size: large;
}

.shop-now-button {
    background: rgb(244, 5, 149);
    color: rgb(255, 255, 255);
    min-width: 260px;
}

.btn-pink {
    background: rgb(244, 5, 149);
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-pink:hover,
.btn-pink:active,
.btn-pink:focus {
    background: rgb(203, 4, 124);
    color: white;
}

.pd-btn {
    background-color: #ffffff;
    color: rgb(244, 5, 149);
}

.pd-btn:hover {
    background-color: rgb(244, 5, 149);
    color: #ffffff;
}



.text-pink {
    color: rgb(244, 5, 149) !important;
}

.text-black {
    color: black;
}

.border-pink {
    border: 1px solid rgb(244, 5, 149) !important;
}

.about {
    font-size: 180%;
}

.btt-button {
    color: rgb(244, 5, 149);
    height: 42px;
    width: 42px;
    
}

.btt-button:hover {
    color: #ffffff;
    background-color: rgb(244, 5, 149);
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


/* Main Nav */

.nav-hover:hover {
    text-decoration: underline rgb(244, 5, 149);
}

#account a {
    color: rgb(244, 5, 149);
}

#main-nav a {
    color: rgb(244, 5, 149);
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* Product Images */

.fixed-img-size {
    width: 380px;
    height: 280px
}

.product-img-hover:hover {
    border: 1px solid rgb(244, 5, 149);
}

/* Product Detail */

.product-name {
    font-size: larger;
}

.product-price {
    font-size: large;
}

.shadow {
    box-shadow: 5px 5px 5px;
}

/* Product management */ 

.edit-products {
    max-height: 550px;
    overflow-y: auto;
}

/* Messages */ 

.message-container {
    position: fixed;
    top: 92px;
    right: 15px;
    z-index: 999999999;
}

.custom-toast {
    overflow: visible;
    font-size: large;
}

.toast-capper {
    height: 3px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Footer */

footer {
    flex-shrink: 0;
}

.footer-bg {
    background-color: rgb(241, 241, 241);
    box-shadow: 1px -1px 5px 0 #000;
}

#social-media {
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
}

#social-media i {
    font-size: 160%;
    padding: 5%;
    color: rgb(244, 5, 149);
    transition-duration: 0.5s;
}

#social-media i:hover {
    color: rgb(203, 4, 124);
}

.copyright {
    font-size: 90%;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .custom-toast {
        margin-top: 3px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 90px;
    }

    body {
        height: calc(100vh - 116px);
    }

}


@media (min-width: 700px){
    .btt-button {
        color: rgb(244, 5, 149);
        height: 42px;
        width: 42px;
    }

    .btt-button:hover {
        color: #ffffff;
        background-color: rgb(244, 5, 149);
    }
}
