<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-pink mr-4 nav-hover" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-pink mr-4 nav-hover" href="#" id="cupcakes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cupcakes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cupcakes-link">
                <a href="{% url 'products' %}?category=all_cupcakes" class="dropdown-item">All Cupcakes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-pink mr-4 nav-hover" href="#" id="cookies-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cookies
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cookies-link">
                <a href="{% url 'products' %}?category=small_cookies" class="dropdown-item">Small Cookies</a>
                <a href="{% url 'products' %}?category=stuffed_cookies" class="dropdown-item">Stuffed Cookies</a>
                <a href="{% url 'products' %}?category=large_cookies" class="dropdown-item">Large Cookies</a>
                <a href="{% url 'products' %}?category=small_cookies,stuffed_cookies,large_cookies" class="dropdown-item">All Cookies</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-pink mr-4 nav-hover" href="#" id="cakes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cakes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cakes-link">
                <a href="{% url 'products' %}?category=single_tier" class="dropdown-item">Single Tier</a>
                <a href="{% url 'products' %}?category=two_tier" class="dropdown-item">Two Tier</a>
                <a href="{% url 'products' %}?category=three_tier" class="dropdown-item">Three Tier</a>
                <a href="{% url 'products' %}?category=cheesecakes" class="dropdown-item">Cheesecakes</a>
                <a href="{% url 'products' %}?category=single_tier,two_tier,three_tier,cheesecakes" class="dropdown-item">All Cakes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-pink mr-4 nav-hover" href="#" id="occasions-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Occasions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="occasions-link">
                <a href="{% url 'products' %}?category=birthdays" class="dropdown-item">Birthdays</a>
                <a href="{% url 'products' %}?category=easter" class="dropdown-item">Easter</a>
                <a href="{% url 'products' %}?category=custom" class="dropdown-item">Custom</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-pink mr-4 nav-hover" href="#" id="recipies" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Recipes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="recipies-link">
                <a href="" class="dropdown-item">All Recipes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-pink mr-4 nav-hover" href="#" id="info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Info
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="info-link">
                <a href="{% url 'contact' %}" class="dropdown-item">Contact Us</a>
                <a href="" class="dropdown-item">FAQ's</a>
                <a href="" class="dropdown-item">Testimonials</a>
            </div>
        </li>
    </ul>
</div>