{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col mt-3">
                <hr class="mt-0">
                <h2 class="text-pink mb-4 mt-4 text-center">Contact Us</h2>
                <hr>
            </div>
        </div>

        <div class="mt-1 row">        
            <!-- Contact Us Form Section -->
            <div class="col-12 col-lg-6">
                <p class="text-pink">Please fill out the form below to send us a message</p>
                <form action="{% url 'contact' %}" method="POST" id="contact-form">
                    {% csrf_token %}
                    <div class="card shadow-sm border-1 mb-4">
                        <div class="card-body">
                            <fieldset class="rounded px-3 mb-4 text-pink">
                                {{ form|crispy }}
                            </fieldset>
                        </div>
                    </div>

                
                    <div class="submit-button text-right mt-4 mb-2">
                        <a href="{% url 'products' %}" class="btn btn-outline-pink pd-btn border-pink rounded-1">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="font-weight-bold">Continue Shopping</span>
                        </a>
                        <!-- Submit Button -->
                        <button id="submit-button" class="btn btn-pink rounded-1">
                            <span class="font-weight-bold">Send Now</span>
                            <span class="icon">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
